{% render 'partials/head.liquid', title: 'Online catalogus' %}

<main>
    
<section class="catalog-search-container">
    {% comment %} <img src="/assets/mandala1.png" width="150" height="150" alt=""> {% endcomment %}
    <h1 class="heading-overview">Online Catalougus</h1>
    {% comment %} <img src="/assets/mandala2.png" width="150" height="150"  alt=""> {% endcomment %}

    <div class="searchbar">
        <input type="search" id="search" label="typ hier wat je zoekt" placeholder="Zoeken...">
        <button class="click-search"><img class="search-img" src="/assets/search.png" alt="search"></button>
    </div>
</section>

<form class="filters-catalog">
    <select name="auteur" id="auteur">
        <option value="">Auteur</option> 
        {% for author in authors %}
            <option value="">{{ author }}</option>
        {% endfor %}
    </select>

    <select name="plaats van uitgave" id="plaats-van-uitgave">
        <option value="">Plaats van uitgave</option> 
        {% for plaatsVanUitgave in plaatsVanUitgaves %}
            <option value="">{{ plaatsVanUitgave }}</option>
        {% endfor %}
    </select>

    <select name="year" id="year">
        <option value="">Jaar</option> 
        {% for year in years %}
            <option value="">{{ year }}</option>
        {% endfor %}
    </select>

    <select name="Gedigitaliseerde publicaties" id="gedigitaliseerde-publicaties">
        <option value="">Gedigitaliseerde publicaties</option>
    </select>
</form>

<div class="container-resultaten">
    <p class="book-resultaten">30.000 resultaten </p>
    <div class="line"></div>
</div>

<div class="all-books">
    {% for data in booksOverview %}
    <div class="books-container">
        {% if data.asset and data.asset.medium %}
        <img class="books-img" loading="lazy" src="{{ data.asset.medium }}" width="180" height="180"
            alt="{{ data.title }}">
        {% endif %}
        <div class="all-text">
            <p class="text-info titel"><span class="strong-text">Titel: </span>{{ data.title }}</p>
            {% assign auteur = '' %}
            {% assign jaar = '' %}
            {% assign plaats = '' %}

            {% for item in data.metadata %}
                {% if item.label == "Auteur" %}
                    {% assign auteur = item.value[0] %}
                {% endif %}
                {% if item.label == "Jaar" %}
                    {% assign jaar = item.value %}
                {% endif %}
                {% if item.label == "Plaats van uitgave" %}
                    {% assign plaats = item.value %}
                {% endif %}
            {% endfor %}

            <p class="text-info"><span class="strong-text">Auteur: </span>{{ auteur }}</p>
            <p class="text-info"><span class="strong-text">Jaar: </span>{{ jaar }}</p>
            <p class="text-info"><span class="strong-text">Plaats van uitgave: </span>{{ plaats }}</p>
            <a class="to-detail" href="/detail/{{ data.id }}">Meer informatie <img class="arrow-img"
                    src="/assets/arrow-right.png" height="12px" width="7px" alt="to page"></a>
        </div>
    </div>
    {% endfor %}
</div>
</main>


{% render 'partials/footer.liquid' %}